<h1>Edit Photo</h1>


<%= form_for @lightside do |f| %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </p>
  <p>
    <div class="actions"><%= f.submit "Update", :class => "button" %></div>
  </p>
<% end %>

<p>
  <%= link_to "Back", @lightside %>
</p>
