<h1>Add a lightsides</h1>

<%= form_for @darkside do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>
</div>

<%= link_to "Back to Photos", darksides_url %>
